* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inder', sans-serif;
}
.background {
  background-image: url("img/bg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 80vw;
  min-height: 300px;
  padding: 80px 100px;
  margin: 30px;
  background: #f5090994;
  box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 25%);
  border-radius: 20px;
  overflow: hidden;
}

.card .quote-icon {
  position: absolute;
  left: 20px;
}

.card #like-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

#like-btn .bi-heart-fill {
  display: none;
}
#like-btn.liked .bi-heart {
  display: none;
}
#like-btn.liked .bi-heart-fill {
  display: block;
}

.card #quote {
  text-align: center;
  font-family: 'Inder', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #2d2d2d;
  mix-blend-mode: hard-light;
}

.card #character {
  margin: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #313131;
}

.card #anime {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #565555;
}

.card #loading {
  display: grid;
  display: none;
  background: rgba(247, 247, 247, 0.63);
  place-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#next-btn {
  cursor: pointer;
  margin: 30px;
}

#next-btn:hover svg {
  fill: green;
}



.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #6e6e6e;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
